
*
{
	margin: 0;
	padding: 0;
}
body
{
	font: normal 12px/18px Tahoma, Geneva, sans-serif;
	text-align: left;
	background: url(../images/body_bg.png) no-repeat center top fixed;
}
h1, h2, h3, h4, h5, h6
{
	font-size: 100%;
	padding: 0;
	margin: 0;
}
ul
{
	list-style: none;
}
img
{
	border: 0;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
}
input
{
	background: none;
}
p
{
	text-align: justify;
}
.fl
{
	float: left !important;
}
.fr
{
	float: right !important;
}
.fontBold
{
	font-weight: bold;
}
.noMargin
{
	margin: 0 !important;
}
.noMarginR
{
	margin-right: 0 !important;
}
.noMarginL
{
	margin-left: 0 !important;
}
.noMarginT
{
	margin-top: 0 !important;
}
.noMarginB
{
	margin-bottom: 0 !important;
}
.noBackground
{
	background: none !important;
}
.noBorder
{
	border: none !important;
}
/*temp*/
.bgtest1
{
	background: #CCC;
}
.bgtest2
{
	background: #FF0;
}
.bgtest3
{
	background: #CFF;
}
.bgtest4
{
	background: #FFC;
}
/*page bg*/
.pagemain
{
	width: 100%;
	margin: 0 auto;
}
.pagecontent
{
	width: 96.6%;
	border: 1px solid #dcdcdc;
	float: left;
	margin: 14px 1.5%;
	-moz-box-shadow: 0px 0px 18px 5px #e0e0e0;
	-webkit-box-shadow: 0px 0px 18px 5px #e0e0e0;
	box-shadow: 0px 0px 18px 5px #e0e0e0; /*l-r  t-b  transprent  do day*/
	-moz-border-radius: 4px; /*tl tr bl br*/
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #f7fafd;
	padding: 1px;
}
.head_bg
{
	width: 100%;
	height: 132px;
	background: #e5eef8 url(../images/head.png) repeat-x center top;
	position: relative;
	margin: 0 auto;
	-moz-border-radius: 4px 4px 0 0; /*tl tr bl br*/
	-o-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.content_bg
{
	width: 97.9%;
	padding: 0 1%;
	float: left;
	background: #f7fafd;
}
.fotter_bg
{
	width: 98%;
	height: 40px;
	background: #f7fafd;
	float: left;
	border-top: 1px solid #abc1de;
	margin: 1%;
}
.fotter_bg span
{
	padding-top: 14px;
	padding-left: 53px;
	float: left;
	color: #103f7a;
}
/****************************************/
.userTop
{
	position: absolute;
	top: 8px;
	right: -0%;
	z-index: 99 /*edit 26/3*/;
}
.userTop a
{
	color: #3e71c3;
}
.userTop a:hover
{
	color: #15428b;
	text-decoration: underline;
}
.userTop .userID, .userTop .changePass, .userTop .logout
{
	background: url(../images/icons.png) no-repeat 0 0;
	padding-left: 14px;
	float: left;
	margin-right: 10px;
	font-size: 11px;
}
.userTop .changePass
{
	background-position: 0 -27px;
	padding-left: 18px;
}
.userTop .logout
{
	background-position: 0 -51px;
	padding-left: 16px;
}
/****************************/
.main
{
	margin: 0px 0px;
	min-height: 380px;
	float: left;
	width: 100%;
}
.SubjectTitle, .BoxField
{
	padding: 0 20px;
}
.HeadTitle
{
	color: #15428B;
	padding-bottom: 10px;
}
.HeadTitle h3
{
	padding-bottom: 5px;
	text-transform: uppercase;
	font: normal 14px Tahoma, Geneva, sans-serif;
}
.TextBox
{
	width: 240px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
	margin-bottom: 8px;
}

.DropDownList
{
	width: 248px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
	margin-bottom: 8px;
}
.TextBoxInPut
{
	width: 240px;
	height: 15px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
	margin-bottom: 8px;
}
.input_form
{
	height: 23px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
}
.input_form option
{
	padding: 3px 5px;
}
.btn
{
	background: url(../images/btn.png) repeat-x center;
	font: bold 11px Tahoma, Geneva, sans-serif;
	text-align: center;
	padding: 3px 7px;
	min-width: 70px;
	cursor: pointer;
	color: #15428B;
	text-transform: uppercase;
	border: 1px solid #abc1de;
	-moz-border-radius: 2px; /*tl tr bl br*/
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	height: 26px;
}
.btn:hover, .btn:active
{
	border: 1px solid #6795d1;
}
.btnDisable /* CSS của button disable */
{
	background: url(../images/btn_disable.png) no-repeat;
	width: 72px;
	height: 23px;
	font: bold 11px Tahoma, Geneva, sans-serif;
	text-align: center;
	padding: 0 0;
	cursor: pointer;
	color: Gray;
	text-transform: uppercase;
}
/*GRID CSS*/
.GridBorder
{
	width: 100%;
	float: left;
	border: 1px solid #9fbde3;
	margin: 4px;
}
.GridBorder th
{
	color: #00367A;
	padding: 0 3px !important;
	border-collapse: collapse;
	border: #9fbde3 1px solid;
}



.GridBorder tr td
{
	border-collapse: collapse;
	border: #9fbde3 1px solid;
}


.GridBorder a
{
	color: #003780;
}
.GridBorder a:hover
{
	text-decoration: underline;
}
.GridHeader
{
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 5px 0px 5px 5px;
	background: url(../images/tbl_title.png) center center repeat-x;
	height: 28px;
}
.GridRow
{
	background: #fff;
	color: #000;
}
.GridRow:hover
{
	background: #ceddf4;
}
.GridRow td
{
	padding: 3px 3px;
}
.GridAlterRow
{
	background: #e3ecf9;
	color: #000;
}
.GridAlterRow:hover
{
	background: #ceddf4;
}
.GridAlterRow td
{
	padding: 3px 3px;
}
/*END GRID CSS*/
/* PAGINATION EMpressr */
div.paginationEMP
{
	text-align: center;
	background: #eef4fc;
	margin: 5px 0px 5px 0px;
	float: right;
	padding: 6px 0px;
	font-size: 11px;
	width: 100%;
	border-top: 1px solid #e0e4ea;
	border-bottom: 1px solid #e0e4ea;
}
.paginationEMP a
{
	text-decoration: none;
}
div.paginationEMP span
{
	color: #6b6b6b;
	text-align: right;
	font-weight: bold;
	margin: 0px 2px 0 0;
	padding: 3px 7px;
	background: #fff;
	border: 1px solid #d3dae4;
}
div.paginationEMP span:hover
{
	color: #000;
}
div.paginationEMP span a
{
	text-decoration: none;
	color: #255ecc;
}
div.paginationEMP span.current a
{
	text-decoration: none;
	color: #fff;
}
div.paginationEMP span a:hover
{
	color: #df1818;
	text-decoration: underline;
}
div.paginationEMP span.current
{
	background: #8dbefa;
	color: #000;
}
/* end PAGINATION EMpressr */
.DivRow
{
	width: 100%;
	clear: both;
}
.DivRowPortlet
{
	width: 50%;
	float: left;
}
.DivRowDoanhNghiep
{
	width: 100%;
}
.DivLabel
{
	font-weight: bold;
	color: #000;
	padding-right: 3px;
	float: left;
	width: 150px;
	padding-left: 15px;
}

.DivLabelDoanhNghiep
{
	font-weight: bold;
	color: #000;
	padding-right: 3px;
	float: left;
	width: 170px;
	padding-left: 15px;
}
.DivLabelDetail
{
	font-weight: bold;
	color: #000;
	padding-right: 3px;
	float: left;
	width: 250px;
	padding-left: 15px;
}
.DivData
{
	color: #696969;
}
.aspNetDisabled, .disable
{
	color: #CCCCCC !important;
	text-decoration: none !important;
}
.aspNetDisabled span, .disable span
{
	color: Gray !important;
}
/* Field requires alert */
span .fieldRequired
{
	color: #DD0000;
	float: left;
	width: 350px !important;
	clear: left;
}
.fieldRequired
{
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/required.gif");
	background-position: center;
	background-repeat: no-repeat;
	color: #DD0000;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 5px;
	padding-top: 0px;
}

.ItemDisabled
{
	color: Gray;
}
.ItemActived
{
	font: bold 15px Tahoma,Arial, Helvetica, sans-serif;
	color: #005eea;
}

.DivLabelSearch
{
	float: left;
	width: 200px;
}


/*****menu*****/
#menu
{
	width: 800px;
	height: 75px;
	position: relative;
	margin: 3px 0 0 48px;
}
#menu ul
{
	width: 800px;
	padding: 0 1px 0 0;
	overflow: hidden;
}
#menu li
{
	font-weight: bold;
	display: inline;
	float: left;
	height: 40px;
}
#menu li a
{
	height: 40px;
	line-height: 25px;
	float: left;
	display: block;
	text-align: center;
	padding-left: 26px;
}
#menu li a span
{
	padding-right: 26px;
	color: #15428B;
}
#menu li a:hover
{
	text-decoration: none;
}
#menu ul .subnav
{
	width: 786px;
	height: auto;
	position: absolute;
	top: 23px;
	left: 12px;
	background: none;
	padding-top: 10px;
}
#menu ul .subnav li
{
	font-weight: normal;
	padding: 0 20px 0 0;
	height: auto;
	background: none;
}
#menu ul .subnav li a
{
	background: url(../images/icon_submenu.png) 0 5px no-repeat;
	padding: 0 0 0 9px;
	width: auto;
	height: auto;
	line-height: normal;
	float: none;
	display: inline;
	text-align: left;
}
#menu .current a
{
	background: url(../images/menu-top.png) no-repeat left top;
	padding-left: 26px;
	height: 25px;
	float: left;
	color: #15428b;
}
#menu .current a span
{
	background: url(../images/menu-top.png) no-repeat right bottom;
	float: left;
	height: 10px;
	padding-bottom: 11px;
	padding-right: 26px;
	padding-top: 4px;
	line-height: 17px;
}
#menu .current li a
{
	color: #3f3f3f;
}
#menu .current li a:hover
{
	color: #15428B;
}
#menu .subnav .current2 a
{
	color: #15428B;
}

.clear
{
	height: 0;
	clear: both;
	padding: 0;
	margin: 0;
	line-height: 0;
}
.hidden
{
	display: none;
}


/*- Menu Tabs manage--------------------------- */


.tabs_manage
{
	float: left;
	width: 100%;
	font-size: 80%;
	line-height: normal;
	background: url(../images/line.png) repeat-x bottom;
	margin-bottom: 20px;
}
.tabs_manage ul
{
	margin: 0;
	margin-left: 20px;
	padding: 5px 10px 0 10px;
	list-style: none;
}
.tabs_manage li
{
	display: inline;
	margin: 0;
	padding: 0;
}
.tabs_manage a
{
	float: left;
	background: url("../images/tableft.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 2px;
	text-decoration: none;
}
.tabs_manage a span
{
	float: left;
	display: block;
	background: url("../images/tabright.gif") no-repeat right top;
	padding: 5px 14px 4px 10px;
	color: #032a6b;
	font: bold 11px Tahoma,Arial, Helvetica, sans-serif;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs_manage a span
{
	float: none;
}
/* End IE5-Mac hack */
.tabs_manage a:hover span
{
	color: #005eea;
	font: bold 11px Tahoma,Arial, Helvetica, sans-serif;
}
.tabs_manage a:hover
{
	background-position: 0% -42px;
}
.tabs_manage a:hover span
{
	background-position: 100% -42px;
}

.tabs_manage .current_manage a
{
	background-position: 0% -42px;
	color: #005eea;
}
.tabs_manage .current_manage a span
{
	background-position: 100% -42px;
	color: #005eea;
}

.tabs_state
{
	padding: 0px 5px 0px 10px;
	color: #032a6b;
	font: bold 11px Tahoma,Arial, Helvetica, sans-serif;
}

a.current_manage
{
	background-position: 0% -42px !important;
	color: #005eea !important;
}
span.current_manage
{
	background-position: 100% -42px !important;
	color: #005eea !important;
}
.DivLeft, .DivLabelSearch
{
	float: left;
	width: 200px;
	padding: 0 5px 0px 15px;
}


.Date
{
	width: 100px;
	height: 15px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
	margin-bottom: 8px;
}

/*  het class tab quan tri */

/*  underconstruction */
.underconstruction
{
	background: url(../images/underconstruction.png) no-repeat;
	padding: 96px 20px 60px 276px;
	color: #242424;
}
.underconstruction h1
{
	font: normal 36px Tahoma, Geneva, sans-serif;
	padding-bottom: 10px;
}
.underconstruction p
{
	font: normal 15px/23px Tahoma, Geneva, sans-serif;
}
.underconstruction a
{
	color: #15428B;
	font-size: 17px;
}
.underconstruction a:hover
{
	color: #3065bb;
	text-decoration: underline;
}
.CutOff
{
	font-size: 16px;
	color: #FF3333;
}
.Error
{
	color: #FF0033;
	padding-left: 15px;
}

.DivRequired
{
	padding: 0px 0px 5px 0px;
}

.DivTextBoxTree
{
	margin-left: 168px;
	margin-top: -15px;
}

.rowDisable
{
	color: gray !important;
	text-decoration: none !important;
}

.DivTextBox
{
	padding-left: 10px;
}

.UpdateProgressContent
{
	text-align: center;
	vertical-align: bottom;
	z-index: 9999;
	position: fixed;
	top: 35%;
	left: 35%;
	width: 350px;
}
.UpdateProgressBackground
{
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	z-index: 1000;
	background-color: #cccccc;
	filter: alpha(opacity=70);
	opacity: 0.7;
}


.btnExt
{
	background: url(../images/btnExt.png) no-repeat;
	width: 90px;
	height: 23px;
	font: bold 11px Tahoma, Geneva, sans-serif;
	text-align: center;
	padding: 0 0;
	cursor: pointer;
	color: #15428B;
	text-transform: uppercase;
}

input[type="text"].aspNetDisabled
{
	padding: 3px;
	background: #fcfcfc !important;
	border: 1px solid #d6d6d6 !important;
	margin-right: 4px;
	margin-bottom: 8px;
}
input[type="check"].aspNetDisabled
{
	background: #f00 !important;
	border: 1px solid #d6d6d6 !important;
}
textarea.aspNetDisabled
{
	padding: 3px;
	background: #FCFCFC;
	border: 1px solid #d6d6d6 !important;
}

.btnDisable
{
	background: url(../images/btn_disable.png) no-repeat;
	width: 72px;
	height: 23px;
	font: bold 11px Tahoma, Geneva, sans-serif;
	text-align: center;
	padding: 0 0;
	cursor: pointer;
	color: #666666;
	text-transform: uppercase;
}
.report
{
	width: 940px;
	overflow-x: scroll;
}

.TextArea
{
	width: 240px;
	height: 30px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
	margin-bottom: 8px;
}
.TextAreaMultiple
{
	width: 250px;
	height: 80px;
	padding: 3px;
	background: #eff5ff;
	border: 1px solid #abc1de;
	margin-right: 4px;
	margin-bottom: 8px;
}

.TotalGrossAmount
{
	text-align: right;
	margin-right: 85px;
	margin-bottom: 8px;
}

.ClassRowYellow
{
	background: #E6F69F;
}
.ClassRowBlue
{
	background: #EFF5FF;
}
.ClassRowRed
{
	background: #F69F9F;
}
.countDown
{
	width: 100px;
	margin: 0 auto;
	float: left;
	position: relative;
}
.countDown-content
{
	width: 100px !important;
	height: 80px;
	margin: 0 0 0 883px !important;
	position: fixed;
	top: 52px;
	padding: 0px 2px;
	background: #fff;
	font-size: 11px;
	border: 1px solid #eeeeee;
	-moz-border-radius: 5px 5px 5px 5px; /*top_left - top_right - bottom_right - bottom_left */
	-o-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.2);
	-khtml-box-shadow: 0 1px 10px rgba(0,0,0,.2);
}
.label_countDown
{
	padding: 1px 4px;
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 5px;
}
.label_countDown b
{
	/*color:#1c62b9*/
}
.col50
{
	width: 23%;
	float: left;
}
.col55
{
	width: 54%;
	float: left;
}
.TextBox_short
{
	width: 70px;
}
.col30
{
	width: 32%;
	float: left;
	margin-right: 1.3%;
}
.col20
{
	width: 49%;
	float: left;
	margin-right: 0.5%;
}
.PaddingLevel1
{
	padding-left: 10px;
}
.PaddingLevel2
{
	padding-left: 20px;
}
.PaddingLevel3
{
	padding-left: 30px;
}
.PaddingLevel1 .PaddingSpan
{
	float: right;
	padding-right: 51px;
}
.PaddingLevel2 .PaddingSpan
{
	float: right;
	padding-right: 51px;
}
.DivRow .PaddingSpan
{
	float: right;
	padding-right: 51px;
}
.PaddingLevel1 .PaddingTextbox
{
	float: right;
	padding-bottom: 10px;
}
.PaddingLevel2 .PaddingTextbox
{
	float: right;
	padding-bottom: 10px;
}
.fl1
{
	padding-left: 10px;
}
.DivHeader
{
	font-weight: bold;
}
.txt_nguoi
{
	width: 43px;
}
.width100
{
	width: 100%;
}
.PaddingRight
{
	padding-right: 43px;
}
.fr1
{
	padding-right: 30px;
}
.textarea1
{
	width: 340px;
	height: 100px;
	max-width: 340px;
	max-height: 100px;
	min-width: 340px;
	min-height: 100px;
	font: normal 12px/18px Tahoma, Geneva, sans-serif;
}
.LargeTextarea
{
	width: 80%;
	height: 140px;
	max-height: 150px;
	max-width: 80%;
	min-width: 80%;
	min-height: 140px;
	font: normal 12px/18px Tahoma, Geneva, sans-serif;
}
.SmallTextarea
{
	width: 80%;
	height: 150px;
	max-height: 150px;
	max-width: 80%;
	min-width: 80%;
	min-height: 50px;
	font: normal 12px/18px Tahoma, Geneva, sans-serif;
}
.NonDisplay
{
	display: none;
}
.Div-Left
{
	float: left;
	width: 450px;
}
.Div-Right
{
	float: left;
	width: 47%;
}
.ClassRowYellow
{
	background: #E6F69F;
}
.ClassRowBlue
{
	background: #EFF5FF;
}
.ClassRowRed
{
	background: #F69F9F;
}

/*form dang ky, dang nhap 24/12/2012*/
.form_login
{
	width: 990px;
	margin: 0 auto;
}
.form_border
{
	float: left;
	border: 1px solid #dcdcdc;
	margin: 14px 0;
	background: #fff;
}
.form_main
{
	float: left;
	margin: 18px;
	width: 950px;
	background: #fff;
}
.form_main .col_left
{
	float: left;
	width: 248px;
}
.form_main .col_left .TextBox
{
	width: 86% !important;
	background: #f9fcff;
}
.form_main .col_left a
{
	color: #15428b;
	font-size: 11px;
	text-decoration: underline;
}
.form_main .col_right
{
	float: left;
	width: 672px;
	padding-left: 25px;
	border-left: 1px solid #ddd;
}
.form_main .col_right .TextBox
{
	width: 46% !important;
	background: #f9fcff;
}
.col_left .label_form h1
{
	background: #d5e5fb;
	width: 85%;
	padding: 5px 6px;
	text-transform: uppercase;
	color: #15428b;
	margin-bottom: 18px;
}
.col_left .label_form h3
{
	color: #111111;
	font-weight: normal;
	padding: 2px 0 5px 0;
}
.col_right .label_form h1
{
	background: #d5e5fb;
	width: 98%;
	padding: 5px 6px;
	text-transform: uppercase;
	color: #15428b;
	margin-bottom: 18px;
}
.col_right .label_form h2
{
	width: 98%;
	padding: 12px 6px 5px 6px;
	color: #15428b;
	margin-bottom: 18px;
	border-bottom: 1px solid #ddd;
	color: #3d3d3d;
	font-size: 13px;
	float: left;
}

.col_right .label_form .label_row
{
	color: #111111;
	font-weight: normal;
	padding: 2px 0 5px 0;
	width: 46%;
	float: left;
}
.col_right .label_form .div_left
{
	width: 45%;
	float: left;
}
.col_right .label_form .div_right
{
	width: 45%;
	float: left;
	margin-left: 10%;
}
.col_right .div_btn
{
	width: 100%;
	float: left;
	margin-top: 14px;
}


.DivLabelNormal
{
	color: #111111;
	float: left;
	font-weight: normal;
	padding: 2px 0 5px;
	width: 46%;
}
.DivLabelNormalPortlet
{
	color: #111111;
	float: left;
	font-weight: normal;
	padding: 2px 0 5px;
	width: 41%;
}
/*kien nghi*/
.DivLabelKN
{
	font-weight: bold;
	color: #000;
	padding-right: 3px;
	width: 150px;
	padding-left: 15px;
}
#lstErrorContent
{
	color: Red;
}
/************ banner *************/
.banner
{
	background: #dfecf4 url(../images/banner.jpg) no-repeat right -4px;
	width: 100%;
	height: 93px;
	-moz-border-radius: 3px 3px 0 0; /*tl tr bl br*/
	-o-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	position: relative;
}
/*BACK TO TOP BUTTON*/
#back-top
{
	position: fixed;
	bottom: 56px;
	right: 2px;
}
#back-top a
{
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb; /* background color transition */
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	cursor: pointer;
}
#back-top a:hover
{
	color: #000;
}
/* arrow icon (span tag) */
#back-top span
{
	width: 20px;
	height: 20px;
	display: block;
	margin-bottom: 7px;
	background: url(../images/gotop.png) no-repeat 0px -0px; /* rounded corners */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; /* background color transition */
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
}
#back-top a:hover span
{
	background-position: 0px -45px;
}
/*END BACK TO TOP BUTTON*/

.TextBoxDisable
{
	/*edit 26/3*/
	width: 240px;
	padding: 3px 3px 4px 3px;
	background: #fcfcfc;
	border: 1px solid #d6d6d6;
	margin-right: 4px;
	margin-bottom: 8px;
	-moz-border-radius: 2px; /*tl tr bl br*/
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.welcome
{
	text-align: center;
	padding: 45px 10%;
	color: #0072D7;
	font: 23px Tahoma,Geneva,sans-serif;
	text-shadow: -1px 1px 1px #FFFFFF;
}
.welcome span
{
	color: #E90101;
	font: 23px Tahoma,Geneva,sans-serif;
	text-shadow: -1px 1px 1px #780000;
}
.HeaderHidden
{
	display: none;
}
/*Detail*/
.tbl_row_0
{
	background: #fafafa;
	float: left;
	width: 97%;
	padding: 5px 7px;
	border-bottom: #ececec 1px solid;
}
.tbl_row_1
{
	background: #f5f5f5;
	float: left;
	width: 97%;
	padding: 5px 7px;
	border-bottom: #ececec 1px solid;
}
.tbl_colLeft
{
	float: left;
	width: 30%;
	font-weight: bold;
}
.tbl_colRight
{
	float: left;
	width: 65%;
}

/*new 22/04/2013*/
.welcome_user
{
	position: absolute;
	left: 797px;
	top: 27px;
	margin-right: 8px;
	padding: 4px;
	font: normal 11px Arial, Helvetica, sans-serif;
	/*background: url(../images/transparent-white.png) repeat;*/
	/*border: 1px solid #8db2e3;*/
}
.userID-welcome
{
	background: url(../images/icons.png) no-repeat 0 -3px;
	padding-left: 16px;
	margin-right: 14px;
	margin-left: 4px;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #3E71C3;
	text-transform: capitalize;
}
.banner .title
{
	position: absolute;
	left: 87px;
	top: 10px;
	width: 622px;
}
.banner .title h1
{
	font: bold 16px/28px Tahoma, Geneva, sans-serif;
	color: #ee0001;
	text-transform: uppercase;
}
.banner .title h2
{
	font: bold 15px/28px Arial, Helvetica, sans-serif;
	color: #000;
}

.banner .title h3
{
	font: bold 9px/22px Arial, Helvetica, sans-serif;
	color: #424242;
	text-transform: uppercase;
}
.banner .titlesize
{
	position: absolute;
	left: 87px;
	top: 10px;
	width: 622px;
}
.banner .titlesize h1
{
	font: bold 15px/28px Tahoma, Geneva, sans-serif;
	color: #ee0001;
	text-transform: uppercase;
}
.banner .titlesize h2
{
	font: bold 15px/28px Arial, Helvetica, sans-serif;
	color: #000;
}

.banner .titlesize h3
{
	font: normal 9px/22px Arial, Helvetica, sans-serif;
	color: #424242;
	text-transform: uppercase;
}

/* css 22/05/2013*/
.content_bg
{
	width: 97.9%;
	padding: 0 1%;
	float: left;
	background: #f7fafd;
	position: relative;
}
.box_thongke
{
	position: absolute;
	right: 9px;
	top: -14px;
	width: 278px;
	height: 89px;
	padding: 2px 3px;
	background: #fff- url(../images/transparent_1.png) repeat;
	border: 1px solid #c5d4e8;
	border-left: 1px solid #d8dfe9;
	border-top: 1px solid #d8dfe9;
	overflow: hidden;
	font-size: 11px;
	z-index: 100;
}
.box_thongke_PTKT
{
	position: absolute;
	right: 9px;
	top: 8px;
	width: 224px;
	height: 72px;
	padding: 2px 3px;
	background: #fff- url(../images/transparent_1.png) repeat;
	border: 1px solid #c5d4e8;
	border-left: 1px solid #d8dfe9;
	border-top: 1px solid #d8dfe9;
	overflow: hidden;
	font-size: 11px;
	z-index: 100;
}
.status_online
{
	float: right;
	color: #000;
}
.status_online .count_online
{
	color: #ff0000;
	padding-left: 5px;
	font-weight: bold;
}
