 .mandatory
        {
           border:solid 1px orange;
            font:12px/18px Tahoma,Geneva,sans-serif;
        }
 .normal
        {
        	
        	border:1px solid #ABC1DE;            
            font:12px/18px Tahoma,Geneva,sans-serif;
        }
 .textbox{float:left; margin-right:5px}
 .sp_error {
    color: #FF0000;
    font:10px/18px Tahoma,Geneva,sans-serif;
    font-weight: bold;
}
.td_note {
    background: url("../images/bg_arrow.gif") no-repeat scroll 5px bottom #FFFFFF;
    padding-left: 20px;
}
.div_tolltip{float:right; display:table; z-index:99; position:absolute; margin-left:5px}

.tolltip{border: 1px solid #bbbbbb;
	position:absolute;
	background: #fff url(../images/ktip.png) left center no-repeat;
	float:left;
	width:240px;
	min-height:22px;
	padding:5px 4px 5px 30px;
	display:table-cell;
	vertical-align:middle}
.arrow_tolltip{
	position:absolute;
	background: url(../images/arrow_tolltip.png) no-repeat;
	float:left;
	width:7px;
	height:18px;
	z-index:222;
	left:-7px;
	top:7px;
	}